// See https://containers.dev/implementors/json_reference/ for configuration reference
{
  "name": "{{ name }}",
  "build": {
      "dockerfile": "Dockerfile"
  },
  "runArgs": ["--dns=1.1.1.1", "--dns=8.8.8.8"],
  "initializeCommand": "mkdir -p .devcontainer/.copilot .devcontainer/.claude",
  "mounts": [
    "source=${localWorkspaceFolder}/.devcontainer/.copilot,target=/home/{{ container_user }}/.copilot/,type=bind",
    "source=${localWorkspaceFolder}/.devcontainer/.claude,target=/home/{{ container_user }}/.claude/,type=bind"
  ],
  "remoteUser": "{{ container_user }}",
  "customizations" : {
    "jetbrains" : {
      "backend" : "{{ 'IntelliJ' if setup_type == 'java' else 'WebStorm' }}"
    }
  }
}
